<div class="container">
  <div class="sidebar">
    <a routerLink="social-reference" routerLinkActive="active">Form 1: Social Reference</a>
    <a routerLink="technical-note" routerLinkActive="active">Form 2: Technical Note</a>
    <a routerLink="internal-supervision" routerLinkActive="active">Form 3: Internal Supervision</a>
    <a routerLink="training-theme-sheet" routerLinkActive="active">Form 4: Training Theme Sheet</a>
    <a routerLink="social-care" routerLinkActive="active">Form 5: Social Care</a>
    <a routerLink="social-reference2" routerLinkActive="active">Form 6: Social Reference 2</a>
    <a routerLink="social-counter-reference" routerLinkActive="active">Form 7: Social Counter Reference</a>
    <a routerLink="social-inquiry" routerLinkActive="active">Form 8: Social Inquiry</a>
    <a routerLink="medical-legal-report" routerLinkActive="active">Form 9: Medical Legal Report</a>
    <a routerLink="operative-report" routerLinkActive="active">Form 10: Operative Report</a>
    <a routerLink="engagement" routerLinkActive="active">Form 11: Engagement</a>
    <a routerLink="cancellation" routerLinkActive="active">Form 12: Cancellation</a>
    <a routerLink="payment-moratorium" routerLinkActive="active">Form 13: Payment Moratorium</a>
    <a routerLink="accompanist-card" routerLinkActive="active">Form 14: Accompanist Card</a>
    <a routerLink="reference" routerLinkActive="active">Form 15: Fiche de Reference</a>
    <a routerLink="counter-reference" routerLinkActive="active">Form 16: Bulletin de Contre Référence</a>
    <a routerLink="transfer-form" routerLinkActive="active">Form 17: Fiche de Transfert</a>
    <a routerLink="anatomo-pathological-exam" routerLinkActive="active">Form 18: Demande Examen Anatamo-pathologique</a>
    <a routerLink="anapath-report" routerLinkActive="active">Form 19: Compte rendu ANA-PATH</a>
    <a routerLink="anurectoscopy-report" routerLinkActive="active">Form 20: Compte rendu ANURECTOSCOPIE</a>
    <a routerLink="coloscopy-report" routerLinkActive="active">Form 23: Compte rendu COLOSCOPIE</a>
    <a routerLink="oeso-gastro-duodenoscopy-report" routerLinkActive="active">Form 24: Compte rendu OESO GASTRO DUODENOSCOPIE</a>
    <a routerLink="rectosigmoidoscopy-report" routerLinkActive="active">Form 25: Compte rendu RECTOSIGMOIDOSCOPIE</a>
    <a routerLink="cesarean-report" routerLinkActive="active">Form 26: Compte rendu OPERATOIRE / CESARIENNE</a>
    <a routerLink="vpa-request" routerLinkActive="active">Form 27: DEMANDE DE VPA</a>
    <a routerLink="vpa-report" routerLinkActive="active">Form 28: Compte rendu VPA</a>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

