<div class="container">
  <div class="sidebar">
    <a routerLink="social-reference" routerLinkActive="active">Form 1: Social Reference</a>
    <a routerLink="technical-note" routerLinkActive="active">Form 2: Technical Note</a>
    <a routerLink="internal-supervision" routerLinkActive="active">Form 3: Internal Supervision</a>
    <a routerLink="training-theme-sheet" routerLinkActive="active">Form 4: Training Theme Sheet</a>
    <a routerLink="social-care" routerLinkActive="active">Form 5: Social Care</a>
    <a routerLink="social-reference2" routerLinkActive="active">Form 6: Social Reference 2</a>
    <a routerLink="social-counter-reference" routerLinkActive="active">Form 7: Social Counter Reference</a>
    <a routerLink="social-inquiry" routerLinkActive="active">Form 8: Social Inquiry</a>
    <a routerLink="medical-legal-report" routerLinkActive="active">Form 9: Medical Legal Report</a>
    <a routerLink="operative-report" routerLinkActive="active">Form 10: Operative Report</a>
    <a routerLink="engagement" routerLinkActive="active">Form 11: Engagement</a>
    <a routerLink="cancellation" routerLinkActive="active">Form 12: Cancellation</a>
    <a routerLink="payment-moratorium" routerLinkActive="active">Form 13: Payment Moratorium</a>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

