<div class="container">
  <div class="sidebar">
    <a routerLink="social-reference" routerLinkActive="active">Social Reference</a>
    <a routerLink="technical-note" routerLinkActive="active">Technical Note</a>
    <a routerLink="internal-supervision" routerLinkActive="active">Internal Supervision</a>
    <a routerLink="training-theme-sheet" routerLinkActive="active">Training Theme Sheet</a>
    <a routerLink="social-care" routerLinkActive="active">Social Care</a>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

